# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.log

# Envs
.venv/
venv/
env/
*.env
.env.*

# Django / DB
*.sqlite3
media/
staticfiles/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

